@import "normalize";
@import "fonts.scss";
@import "variables.scss";

html {
  box-sizing: border-box;
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: white;
  background-color: #849d8f;

  font-family: $primary-font;
  font-size: 16px;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 27px;
  padding-left: 27px;
}

@import "blocks/button.scss";
@import "blocks/custom-text-field.scss";
@import "blocks/custom-checkbox.scss";
@import "blocks/custom-select.scss";
@import "blocks/custom-radio.scss";
@import "blocks/custom-range.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-main.scss";
@import "blocks/site-nav.scss";
@import "blocks/sub-nav.scss";
@import "blocks/user-nav.scss";
@import "blocks/search-form.scss";
@import "blocks/login-form.scss";
@import "blocks/product-cart.scss";
@import "blocks/promo.scss";
@import "blocks/events.scss";
@import "blocks/product-list.scss";
@import "blocks/best-seller.scss";
@import "blocks/features.scss";
@import "blocks/news.scss";
@import "blocks/subscription.scss";
@import "blocks/contacts.scss";
@import "blocks/catalog.scss";
@import "blocks/filter.scss";
@import "blocks/breadcrumbs.scss";
@import "blocks/pagination.scss";
@import "blocks/page-footer.scss";
@import "blocks/footer-nav.scss";
@import "blocks/copyright.scss";
@import "blocks/product.scss";
@import "blocks/social.scss";
@import "blocks/modal.scss";
@import "blocks/write-us.scss";
