$primary-font: "Roboto", "Arial", sans-serif;

$basic-black: #000000;
$basic-black-opacity-10: rgba(0, 0, 0, 0.1);
$basic-black-opacity-20: rgba(0, 0, 0, 0.2);
$basic-black-opacity-30: rgba(0, 0, 0, 0.3);
$basic-black-opacity-40: rgba(0, 0, 0, 0.4);
$basic-black-opacity-50: rgba(0, 0, 0, 0.5);
$basic-white: #ffffff;
$basic-white-opacity-10: rgba(255, 255, 255, 0.1);
$basic-white-opacity-20: rgba(255, 255, 255, 0.2);
$basic-white-opacity-30: rgba(255, 255, 255, 0.3);
$basic-white-opacity-40: rgba(255, 255, 255, 0.4);
$basic-white-opacity-50: rgba(255, 255, 255, 0.5);
$basic-white-opacity-70: rgba(255, 255, 255, 0.7);
$main-gray: #323232;

$popup-bg: #f8f7f4;
