.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs__item {
  position: relative;

  margin-right: 8px;
}

.breadcrumbs__link {
  margin-right: 8px;

  color: #ffffff;

  &:hover,
  &:focus {
    color: #ffbc9e;
  }

  &:active {
    color: #ffbc9e;
  }
}
