.button {
  display: inline-block;

  padding-top: 10px;
  padding-bottom: 10px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;

  color: $basic-white;
  border: none;
  border-radius: 70px;
  background: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  &:hover,
  &:focus {
    background: linear-gradient(
        0deg,
        $basic-white-opacity-20,
        $basic-white-opacity-20
      ),
      linear-gradient(180deg, #f26843 0%, #e74a35 100%);
    box-shadow: 0 2px 2px #ac1000;
  }

  &:active {
    background: linear-gradient(
        0deg,
        rgba($basic-black, 0.07),
        rgba($basic-black, 0.07)
      ),
      linear-gradient(180deg, #f26843 0%, #e74a35 100%);
    box-shadow: inset 0 2px 2px #942718;
  }

  &--big {
    padding-top: 9px;
    padding-bottom: 9px;

    font-size: 32px;
    line-height: 44px;
  }
}
