.catalog {
  padding-top: 25px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 25px;

  color: #ffffff;

  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.catalog__list {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

.catalog__pagination {
  display: flex;
  justify-content: flex-end;

  padding-bottom: 30px;

  border-bottom: 1px solid rgba(#ffffff, 0.3);
}
