.contacts {
  position: relative;

  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  // временно

  min-height: 430px;
  padding-top: 62px;
  padding-bottom: 62px;
}

.contacts__info {
  position: relative;
  z-index: 2;

  width: 302px;

  color: #323232;
  background-color: #ffffff;
}

.contacts__map {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
}
