.copyright {
  color: $basic-white;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.copyright__logo {
  width: 108px;
  height: 39px;
  margin: 0;
  margin-bottom: 5px;
}

.copyright__author {
  margin: 0;
}

.copyright__link {
  color: $basic-white;

  &:visited {
    color: $basic-white;
  }

  &:hover,
  &:focus {
    color: #ffbc9e;
  }

  &:active {
    color: #ffbc9e;
  }
}
