.copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.copyright__logo {
  width: 108px;
  height: 39px;
  margin: 0;
  margin-bottom: 5px;
}

.copyright__author {
  margin: 0;
}

.copyright__link {
  color: #fefefe;

  &:visited {
    color: #fefefe;
  }

  &:hover {
    color: #ffbc9e;
  }

  &:active {
    color: #ffbc9e;
  }
}
