.custom-select {
  position: relative;

  display: inline-block;
}

.custom-select__control {
  display: block;

  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-right: 27px;
  padding-bottom: 12px;
  padding-left: 15px;

  cursor: pointer;

  color: $basic-white;
  border: none;
  border-radius: 20px;
  background-color: $basic-white-opacity-20;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  appearance: none;

  option {
    color: $main-gray;
  }

  &:hover {
    color: $main-gray;
  }

  &:hover + .custom-select__icon {
    fill: $main-gray;
  }

  &:focus {
    color: $main-gray;
    outline: none;
    background-color: $basic-white;
  }

  &:focus + .custom-select__icon {
    fill: $main-gray;
  }
}

.custom-select__icon {
  position: absolute;
  top: calc(50% - 5px);
  right: 14px;

  width: 11px;
  height: 10px;

  pointer-events: none;

  fill: $basic-white;
}
