.event {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 20px;

  background-color: red;
  border-radius: 15px;

  &--raspberry {
    background-image: url("../img/raspberry-bg.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--chocolate {
    background-image: url("../img/chocolate-bg.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.event__title {
  margin: 0;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.event__desc {
  margin: 0;
  margin-bottom: 45px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.event__btn {
  margin-top: auto;
  margin-left: auto;
}
