.features {
  margin-bottom: 40px;
  padding: 20px;

  color: #323232;
  border-radius: 15px;
  background-image: url("../img/section-bg-pattern.png");
}

.features__desc {
  margin: 0;
  margin-bottom: 10px;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features__list {
  display: grid;

  margin: 0;
  padding: 0;

  list-style: none;

  grid-template-columns: auto auto;
  grid-column-gap: 25px;
  grid-row-gap: 10px;
}

.features__item {
  position: relative;

  padding-top: 15px;
  padding-left: 55px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  &--ice-cream {
    &::before {
      position: absolute;
      top: 0;
      left: 0;

      width: 49px;
      height: 49px;

      content: "";

      background-image: url("../img/ice-cream.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &--eco {
    &::before {
      position: absolute;
      top: 0;
      left: 0;

      width: 49px;
      height: 49px;

      content: "";

      background-image: url("../img/eco.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &--cow {
    &::before {
      position: absolute;
      top: 0;
      left: 0;

      width: 49px;
      height: 49px;

      content: "";

      background-image: url("../img/cow.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &--thermometer {
    &::before {
      position: absolute;
      top: 0;
      left: 0;

      width: 49px;
      height: 49px;

      content: "";

      background-image: url("../img/thermometer.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}
