.features {
  color: #323232;
  background-image: url("../img/section-bg-pattern.png");
  margin-bottom: 40px;
}

.features__desc {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features__list {
  list-style: none;
}

.features__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
