.filter {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.filter__item {
  display: block;

  margin: 0;
  margin-right: 15px;
  margin-bottom: 12px;
  padding: 0;

  border: none;
}

.filter__title {
  display: block;

  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  padding-left: 16px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.filter__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
  padding-top: 7px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;

  list-style: none;

  color: $basic-white;
  border-radius: 20px;
  background-color: $basic-white-opacity-20;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filter__list-item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.filter__range {
  width: 218px;
}

.filter__submit {
  padding-top: 9px;
  padding-right: 29px;
  padding-bottom: 9px;
  padding-left: 29px;

  cursor: pointer;

  color: $basic-white;
  border: none;
  border-radius: 20px;
  background: $basic-white-opacity-20;
  box-shadow: inset 0 0 0 2px $basic-white;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  &:hover,
  &:focus {
    color: $main-gray;
    outline: none;
    background-color: $basic-white;
  }

  &:active {
    box-shadow: inset 0 2px 1px #696969;
  }
}
