.footer-nav__list {
  display: grid;
  justify-content: start;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;

  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  justify-items: start;
}

.footer-nav__item {
  padding-left: 22px;
}

.footer-nav__link {
  color: #ffffff;

  &:visited {
    color: #ffffff;
  }

  &:hover,
  &:active {
    color: #ffbc9e;
  }

  &--selected {
    position: relative;

    font-weight: 700;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -22px;

      width: 15px;
      height: 13px;

      background-image: url("../img/heart.svg");
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }
  }
}
