.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__logo {
  margin-right: 10px;
}

.main-nav__site-nav {
  width: 295px;
}

.main-nav__user-nav {
  width: 267px;
  margin-left: auto;
}
