.product__title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: underline;
}

.product__price {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.product__price-sub {
  font-size: 30px;
}
