.promo__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}

.promo__btn {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  color: #ffffff;
  background-color: #ed5a3d;
  text-decoration: none;
}
