.promo {
  margin-bottom: 40px;
}

.promo__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:nth-child(n+2) {
    display: none;
  }
}

.promo__title {
  width: 670px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.promo__btn {
  font-size: 32px;
  line-height: 44px;
}
