.site-nav {
  margin: 0;
  padding: 0;

  list-style: none;

  color: white;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.site-nav__link {
  color: white;

  &:hover {
    color: #323232;
    background-color: white;
  }
}
