.site-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}

.site-nav__item {
  position: relative;

  margin-right: 6px;

  color: $basic-white;

  &--current .site-nav__link {
    color: $basic-white;
    background-color: #d07058;
  }

  &:hover,
  &:focus {
    &::after {
      position: absolute;
      bottom: -5px;

      display: block;

      width: 100%;
      height: 5px;

      content: "";

      background-color: transparent;
    }

    .site-nav__sub-nav {
      display: inline-block;
    }
  }
}

.site-nav__link {
  position: relative;

  display: block;
  align-items: center;

  padding-top: 7px;
  padding-right: 14px;
  padding-bottom: 7px;
  padding-left: 14px;

  text-decoration: none;

  color: $basic-white;
  border-radius: 26px;

  &::after {
    position: absolute;
    right: 14px;
    bottom: 6px;
    left: 14px;

    display: block;

    height: 1px;

    content: "";

    background-color: $basic-white-opacity-20;
  }

  &[href]:hover,
  &[href]:focus {
    color: $main-gray;
    background-color: $basic-white;

    &::after {
      display: none;
    }
  }

  &[href]:active {
    background-color: #ededed;
    box-shadow: inset 0 2px 1px #696969;

    &::after {
      display: none;
    }
  }

  &--current {
    color: $basic-white;
    background-color: #d07058;

    &::after {
      display: none;
    }
  }
}

.site-nav__sub-nav {
  position: absolute;
  z-index: 2;
  top: calc(100% + 5px);
  left: -7px;

  display: none;

  min-width: 143px;
}
