.sub-nav {
  margin: 0;
  padding: 0;
  overflow: hidden;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.sub-nav__item {
  margin-bottom: 5px;
}

.sub-nav__link {
  display: block;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-left: 20px;

  color: #323232;
  text-decoration: none;

  &--highlight {
    margin-right: 6px;
    margin-left: 6px;

    font-weight: 700;

    border-bottom: 1px solid rgba(#323232, 0.2);
  }

  &:hover {
    background-color: #fbded7;
  }

  &:active {
    background-color: #f6b5a5;
  }
}
