.user-nav {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: white;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}


.user-nav__link {
  color: white;
  text-decoration: none;

  &:hover {
    color: #323232;
    background-color: #ffffff;
  }
}
