.user-nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: white;
}

.user-nav__item {
  position: relative;

  margin-left: 10px;
  padding-bottom: 5px;

  &:hover {
    .user-nav__link {
      color: #323232;

      background-color: #ffffff;
    }

    .user-nav__icon {
      fill: #000000;

      &--cart {
        background-image: url("../img/basket-red.svg");
      }
    }

    .user-nav__modal {
      display: block;
    }
  }
}

.user-nav__modal {
  display: none;
}

.user-nav__search-form {
  position: absolute;
  top: 100%;
  right: 0;

  width: 340px;
}

.user-nav__login-form {
  position: absolute;
  top: 100%;
  right: 0;

  width: 277px;
}

.user-nav__product-cart {
  position: absolute;
  top: 100%;
  right: 0;
}

.user-nav__link {
  position: relative;

  display: block;
  padding-top: 8px;
  padding-right: 17px;
  padding-bottom: 8px;
  padding-left: 15px;

  color: #ffffff;
  text-decoration: none;

  background-color: rgba(#ffffff, 0.2);
  border-radius: 15px;


  &--search {
    width: 33px;
    height: 33px;
    padding: 0;
  }

  &--login {
    padding-left: 45px;
  }

  &--cart {
    padding-left: 45px;
  }

  &:hover {
    color: #323232;

    background-color: #ffffff;
  }
}

.user-nav__icon {
  position: absolute;

  fill: #ffffff;

  &--search {
    top: 50%;
    left: 50%;

    width: 17px;
    height: 17px;

    transform: translateY(-50%) translateX(-50%);
  }

  &--login {
    top: 50%;
    left: 15px;

    transform: translateY(-50%);
  }

  &--cart {
    top: 50%;
    left: 15px;

    width: 21px;
    height: 20px;

    background-image: url("../img/basket.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: translateY(-50%);
  }
}
