.user-nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: white;
}

.user-nav__item {
  position: relative;

  margin-left: 10px;
  padding-bottom: 5px;

  &:hover {
    .user-nav__link {
      color: #323232;

      background-color: #ffffff;
    }

    .user-nav__modal {
      display: block;
    }
  }
}

.user-nav__modal {
  display: none;
}

.user-nav__search-form {
  position: absolute;
  top: 100%;
  right: 0;

  width: 340px;
}

.user-nav__login-form {
  position: absolute;
  top: 100%;
  right: 0;

  width: 277px;
}

.user-nav__product-cart {
  position: absolute;
  top: 100%;
  right: 0;
}

.user-nav__link {
  display: block;
  padding-top: 8px;
  padding-right: 17px;
  padding-bottom: 8px;

  color: white;
  text-decoration: none;

  background-color: rgba(#ffffff, 0.2);
  border-radius: 15px;

  &--search {
    width: 33px;
    height: 33px;
  }

  &--login {
    padding-left: 44px;
  }

  &--cart {
    padding-left: 45px;
  }

  &:hover {
    color: #323232;

    background-color: #ffffff;
  }
}
