.write-us__wrapper {
  width: 477px;

  background-color: $popup-bg;
}

.write-us__form {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.write-us__submit {
  align-self: flex-end;

  margin: 0;
  padding-right: 24px;
  padding-left: 24px;
}

.write-us__text-feild {
  margin: 0;
  margin-bottom: 20px;

  &--name,
  &--email {
    width: 267px;
  }

  &:last-child {
    margin-bottom: 25px;
  }
}

.write-us__textarea {
  height: 155px;
}
